.navigation {
    height: 100%;
}

.navigation__block {
    display: flex;
    align-items: center;
    height: 100%;
}

.navigation__links-list {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.navigation__link {
    font-family: 'Roboto', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    transition: opacity .2s linear;
    cursor: pointer;
    margin: 0 34px 0 0;
    opacity: .6;
}

.navigation__link_black {
    color: #FFF;
    border-color: #fff;
}

.navigation__link_white {
    color: #1A1B22;
}

.navigation__logo {
    display: none;
}

.navigation__link_disabled {
    padding-bottom: 25px;
    padding-top: 27px;
    border-bottom: 3px solid;
    opacity: 1;
}
    
.navigation__link:hover {
    opacity: 1;
}

.navigation__link:last-of-type {
    margin: 0;
}

.navigation__button {
    background: none;
    cursor: pointer;
    transition: opacity .2s linear;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Roboto', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    box-sizing: border-box;
    height: 48px;
    margin: 0 0 0 32px;

}

.navigation__button:hover {
    opacity: .8;
}

.navigation__button_type_auth {
    padding: 0;
    width: 176px;
}

.navigation__button_type_logout {
    padding: 0 10px;
    min-width: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__button_black {
    color: #FFF;
    border-color: #fff;
}

.navigation__button_white {
    color: #1A1B22;
    border-color: #1A1B22;
}

.navigation__button-description {
    margin: 0 12px 0 0;
}

@media screen and (max-width: 1024px) {
    .navigation__link {
        margin-right: 16px;
        font-size: 16px;
        line-height: 1.5;
    }
    
    .navigation__link_disabled {
        padding-bottom: 17px;
        padding-top: 21px;
    }

    .navigation__button {
        margin-left: 16px;
        font-size: 16px;
        line-height: 1.5;
        height: 40px;
    }

    .navigation__button_type_auth {
        width: 152px;
    }

    .navigation__button_type_logout {
        padding: 0 16px 0 15px;
        width: 100px;
    }
    
}

@media screen and (max-width: 750px) {
    .navigation__link {
        font-size: 14px;
        margin-right: 10px;
    }

    .navigation__button {
        font-size: 14px;
        margin-left: 10px;
    }

    .navigation__button_type_auth {
        width: 130px;
    }

    .navigation__button_type_logout {
        padding: 0 16px 0 15px;
        width: 100px;
    }
    .navigation__link_disabled {
        padding-bottom: 19px;
        padding-top: 21px;
    }
}

@media screen and (max-width: 600px) {
    .navigation {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        z-index: 2;
        background-color: rgba(0, 0, 0, .5);
    }

    .navigation_opened {
        display: block;
    }

    .navigation__block {
        flex-direction: column;
        height: 286px;
        background: #1A1B22;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        padding: 16px 0 24px;
        box-sizing: border-box;
    }

    .navigation__links-list {
        flex-direction: column;
        width: 100%;
        padding: 0 16px;
        margin-bottom: 33px;
        align-items: initial;
    }

    .navigation__link {
        font-size: 18px;
        margin: 0 0 33px;
    }

    .navigation__link_disabled {
        padding: 0;
        border: none;
    }

    .navigation__button_type_logout {
        justify-content: center
    }

    .navigation__button-description {
        margin-right: 16px;
    }

    .navigation__logo {
        margin: 0 0 30px;
        width: 100%;
        text-align: left;
        font-family: 'Roboto Slab', ‘Arial’, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        color: #FFFFFF;
        box-sizing: border-box;
        padding: 0 0 15px 16px;
        border-bottom: 1px solid rgba(196, 196, 196, 0.01);
        box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
        display: initial;
    }

    .navigation__link_white {
        color: #fff;
    }

    .navigation__button_white {
        color: #fff;
        border-color: #fff;
    }

    .navigation__button {
        margin: 0;
        height: 56px;
        width: calc(100% - 32px);
        font-size: 18px;
    }
}
