.search-form {
    width: 608px;
    height: 496px;
    padding: 80px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.search-form__title {
    font-family: 'Roboto Slab', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    margin: 0 0 32px;
    text-align: left;
    color: #FFF;
}

.search-form__description {
    font-family: 'Roboto', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.33;
    margin: 0 0 64px;
    text-align: left;
    color: #FFF;
    max-width: 545px;
}

.search-form__input-container {
    box-sizing: border-box;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 100px;
    width: 100%;
    display: flex;
    padding: 0 0 0 24px;
    height: 64px;
    align-items: center;
    justify-content: space-between;
}

.search-form__input {
    background: none;
    border: none;
    font-family: 'Roboto', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.37;
    max-width: 376px;
    padding: 0;
    height: 22px;
    color: #1A1B22;
}

.search-form__submit {
    width: 168px;
    height: 100%;
    box-sizing: border-box;
    padding: 18.14px 53px 21.86px 54px;
    background: #2F71E5;
    border: none;
    border-radius: 100px;
    font-family: 'Roboto', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: #FFF;
    transition: background-color .2s linear;
    cursor: pointer;
}

.search-form__submit:hover {
    background-color: #347EFF;
}

.search-form__submit_clicked {
    background-color: #2A65CC;
}


@media screen and (max-width: 1024px) {
    .search-form {
        padding: 38px 0 48px;
        width: 448px;
        height: 334px;
    }

    .search-form__title {
        font-size: 36px;
        line-height: 1.11;
        margin-bottom: 16px;
        max-width: 385px;
    }

    .search-form__description {
        margin-bottom: 48px;
    }

    .search-form__input-container {
        height: 56px;
    }

    .search-form__submit {
        width: 160px;
        padding: 15px 49px 17px 50px;
    }
}

@media screen and (max-width: 600px) {
    .search-form {
        height: 480px;
        padding: 30px 16px 32px;
        width: 100%;
    }

    .search-form__title {
        max-width: 285px;
    }

    .search-form__description {
        max-width: 288px;
        margin-bottom: 122px;
    }

    .search-form__input-container {
        flex-direction: column;
        padding: 0;
        background: none;
        margin: 0;
        border: none;
        height: 128px;
    }

    .search-form__input {
        background: #FFF;
        width: 100%;
        max-width: 100%;
        height: 56px;
        border-radius: 100px;
        padding: 17px 16px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    .search-form__submit {
        width: 100%;
        max-width: 100%;
        height: 56px;
        padding: 0;
    }
}
