.footer {
    max-width: 1440px;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    padding: 0 104px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer__copyright {
    font-family: 'Roboto', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.37;
    color: #B6BCBF;
    text-align: left;
    margin: 0;
}

.footer__nav-block {
    display: flex;
    margin: 0;
    align-items: center;
}

.footer__nav-links {
    display: flex;
    margin: 0 57px 0 0;
}

.footer__socials {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
}

.footer__nav-link {
    text-decoration: none;
    margin: 0 38px 0 0;
    font-family: 'Roboto', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.33;
    color: #1A1B22;
    transition: opacity .2s linear;
}

.footer__nav-link:hover {
    opacity: .8;
}

.footer__nav-link:last-of-type {
    margin: 0;
}

.footer__social {
    margin: 0 24px 0 0;
    cursor: pointer;
    transition: opacity .2s linear;
}

.footer__social:hover {
    opacity: .8;
}

.footer__social:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 1024px) {
    .footer {
        height: 64px;
        padding: 0 40px;
    }

    .footer__nav-links {
        margin-right: 33px;
    }

    .footer__nav-link {
        margin-right: 20px;
    }
}

@media screen and (max-width: 750px) {
    .footer {
        padding: 0 20px;
    }

    .footer__copyright {
        font-size: 12px;
    }

    .footer__nav-links {
        margin-right: 25px;
    }

    .footer__nav-link {
        margin-right: 15px;
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column-reverse;
        height: 176px;
        padding: 20px 16px;
        align-items: initial;
    }

    .footer__nav-block {
        align-items: initial;
        width: 100%;
        justify-content: space-between;
    }

    .footer__nav-links {
        flex-direction: column;
        margin-right: 58px;
        padding-top: 15px;
    }

    .footer__copyright {
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

    .footer__nav-link {
        font-size: 18px;
        margin: 0 0 30px;
    }

    .footer__socials {
        align-items: flex-start;
    }
}
